@*
    ROLE: displays a list of systems as a table
*@

@model IEnumerable<CouponDatabase.Models.System>

<table id="systems-list" class="striped highlight all-left">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(s => s.Name)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(s => s.Username)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(s => s.Password)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var sys in Model)
        {
        <tr>
            <td>
                @sys.Name
            </td>
            <td>
                @sys.Username
            </td>
            <td class="table-password" data-password="@sys.Password">
                <span class="password">***********</span>
                <i class="material-icons u-m-l-sm">remove_red_eye</i>
            </td>
            <td>
                <a class='dropdown-trigger right u-m-r-md' href='!#' data-id="@sys.Id" data-target='system-actions-@sys.Id' data-target-modal="systems">
                    <i class="material-icons material-icons__hover">more_horiz</i>
                </a>
                <ul id='system-actions-@sys.Id' class='dropdown-content'>
                    <li>
                        <a class="channel-action modal-trigger-systems" data-url="@Url.Action("SystemDetails", "Administration", new { Id = sys.Id, Name = sys.Name, Username = sys.Username, Password = sys.Password })" href="#modal-systems">
                            <i class="material-icons">create</i>
                            @CouponDatabase.Properties.Resources.Btn_Edit
                        </a>
                    </li>
                    <li class="disable">
                        <a class="channel-action modal-trigger-remove" data-url="@Url.Action("DeleteSystem", "Administration", new { Id = sys.Id })" data-target="systems" href="#modal-remove">
                            <i class="material-icons">delete_forever</i>
                            @CouponDatabase.Properties.Resources.Btn_Remove
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        }
    </tbody>
</table>

<!-- modal container -->
<div id="modal-container-systems"></div>

<script>
    $(document).ready(function () {
        // get data, inject html and display modal
        $('.modal-trigger-systems').click(function() {
            var url = $(this).data('url');

            $.get(url, function (data) {
                $('#modal-container-systems').html(data).promise().done(function () {
                    $('#modal-systems').modal();
                    $('#modal-systems').modal('open'); 
                });
            });
        });

        // reveal password
        $(".table-password").mousedown(function () {
            var pw = this.getAttribute("data-password")
            var span = $(this).children("span");
            var icon = $(this).children("i");
            icon.hide();
            span.html(pw);
        }).mouseup(function () {
            var hiddenPw = '***********';
            var span = $(this).children("span");
            var icon = $(this).children("i");
            icon.fadeIn("fast");
            span.html(hiddenPw);
        })

        
    })
</script>
