@*
    ROLE: displays a list of users as a table
*@
@model IEnumerable<CouponDatabase.Models.User>

<table id="users-list" class="striped highlight all-left">
    @**@<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(u => u.Username)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(u => u.Fullname)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(u => u.AccessType)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Username
                </td>
                <td>
                    @user.Fullname
                </td>
                <td>
                    @user.AccessType
                </td>
            </tr>
        }
    </tbody>
</table>