@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model WebApp.ViewModels.UsersViewModel;

@{
    ViewBag.PageName = "AdministrationUsers";
}


<partial name="_AdministrationNavigation" />


@*
    ROLE: container for Administration Users, handles update users form
*@

<!-- heading -->
<div class="row u-p-t-xl">
    <div class="col s12 m6 u-p-l-remove">
        <h4 class="u-m-t-remove">
            @CouponDatabase.Properties.Resources.Nav_AdministrationUsers
        </h4>
    </div>
    <!-- user filter -->
    @using (Html.BeginForm("FilterUsers", "Administration", FormMethod.Get, new { role = "form", id = "FilterUsers" }))
    {
        <div class="col s12 m4 two-cols select-wrapper-action u-p-r-remove">
            @for (int i = 0; i < Model.AccessTypes.Count; i++)
            {
                <p class="checkbox-hover">
                    <label class="u-m-r-md">
                        @Html.CheckBoxFor(c => c.AccessTypes[i].Checked, new { @class = "filled-in", @autocomplete = "off", onchange = "this.form.submit();" })
                        <span>@Html.DisplayFor(c => c.AccessTypes[i].Label, new { @class = "checkbox-hover checkbox-hover__inline" })</span>
                        @Html.HiddenFor(c => c.AccessTypes[i].Id)
                        @Html.HiddenFor(c => c.AccessTypes[i].Label)
                    </label>
                </p>
            }
        </div>
    }
    <!-- /user filter -->
    <!-- action -->
    <div class="col s12 m2 u-p-r-remove">
        <a href="@Url.Action("UpdateUsers", "Administration")" class="waves-effect waves-light btn-flat btn-primary right" id="update-users">
            <i class="material-icons update-icon left">update</i>
            @CouponDatabase.Properties.Resources.Btn_Update
        </a>
    </div>
    <!-- /action -->
</div>
<!-- /heading -->

<!-- users table -->
<partial name="_UsersTable" model="Model.Users"/>

@if (ViewBag.Command != null)
{
    <partial name="_CommandMessage" for="Users" />
}

<script>
    $(document).ready(function () {
        // change icon to spinner on button when updating users
        $("#update-users").click(function (e) {
            if ($(".update-icon").hasClass("loading")) {
                e.preventDefault();
                return;
            }
            $(".update-icon").addClass("loading").html("autorenew");
        })
    })
</script>