@*
    ROLE: displays a list of promotions as a table
*@

@model IEnumerable<CouponDatabase.Models.Promotion>;

<table data-nosort-target="-1" id="promotion-list" class="striped highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Code)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ValidFrom)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ValidTo)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(m => m.HasCoupons)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Active)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Enabled)
                <img src="~/images/sorting_hidden.png" class="sorting-icon" />
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => p.Code)</td>
                <td>@Html.DisplayFor(item => p.ValidFrom)</td>
                <td>@Html.DisplayFor(item => p.ValidTo)
                <td>
                    @if (p.HasCoupons)
                    {
                        <i class="material-icons">check</i>
                    }
                </td>
                <td>
                    @if (p.Active)
                    {
                        <i class="material-icons">check</i>
                    }
                </td>
                <td>
                    @if (p.Enabled)
                    {
                        <i class="material-icons">check</i>
                    }
                </td>
                <td>
                    <a class='dropdown-trigger' href='!#' data-id="@p.Id" data-value="@p.Enabled" data-target='promotion-actions'>
                        <i class="material-icons material-icons__hover">more_horiz</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
