@*
    ROLE: displays dropdown with actions for a single promotion
*@

<ul id='promotion-actions' class='dropdown-content'>
    <li>
        <a class="action-promo disabled" data-action="Edit" href="">
            <i class="material-icons">create</i>
            @CouponDatabase.Properties.Resources.Btn_Edit
        </a>
    </li>
    <li>
        <a class="action-promo disabled" data-action="AddSeries" href="">
            <i class="material-icons">add</i>
            @CouponDatabase.Properties.Resources.Btn_AddSeries
        </a>
    </li>
    <li id="btn-enable">
        <a class="action-promo modal-trigger" data-action="Enable" href="#modal-confirmation">
        </a>
    </li>
</ul>

<script>
    $(document).ready(function () {
        // update url with id to corresponding promotion when clicked
        $(".dropdown-trigger").click(function () {
            // base urls
            var container = $(this);
            var urlEdit = "@Url.Action("EditPromotion", "Management")";
            var urlAddSeries = "@Url.Action("AddCouponSeries", "Management")";
            var urlEnable = "@Url.Action("Enable", "Management")";

            // model data
            var id = container.attr("data-id");
            var val = container.attr("data-value");
            var hasCoupons = container.attr("data-coupons");
            var allowsCoupons = container.attr("data-coupons-allow");

            var enableBtn = $("#btn-enable");
            var enableBtnText = $("#btn-enable > a");
            var modalHeader = $(".modal-content h4");
            var modalContent = $(".modal-content p");
            var modalAction = $("#modal-action");

            // set styling of enable button
            // set opposite val to current Enable status
            // set modal to display correct text and action
            if (val == "True") {
                val = "False";
                enableBtn.removeClass("enable");
                enableBtn.addClass("disable");
                enableBtnText.html(
                    "<i class='material-icons'>power_settings_new</i>" +
                    "@CouponDatabase.Properties.Resources.Btn_Disable"
                );
                modalHeader.html('@CouponDatabase.Properties.Resources.Modal_TitleSetDisabled');
                modalContent.html('@CouponDatabase.Properties.Resources.Modal_ContentDisable');
                modalAction.html(
                    "<i class='material-icons left'>check</i>" +
                    "@CouponDatabase.Properties.Resources.Btn_SetDisabled"
                );

            } else {
                val = "True";
                enableBtn.removeClass("disable");
                enableBtn.addClass("enable");
                enableBtnText.html(
                    "<i class='material-icons left'>power_settings_new</i>" +
                    "@CouponDatabase.Properties.Resources.Btn_Enable"
                );
                modalHeader.html('@CouponDatabase.Properties.Resources.Modal_TitleSetEnabled');
                modalContent.html('@CouponDatabase.Properties.Resources.Modal_ContentEnable');
                modalAction.html(
                    "<i class='material-icons left'>check</i>" +
                    "@CouponDatabase.Properties.Resources.Btn_SetEnabled"
                );
            }

            // set correct urls for each promo action
            $(".action-promo").each(function () {
                var url = "";
                var action = $(this).attr("data-action");

                if (action == "Edit" && hasCoupons == "False") {
                    url = urlEdit + "/" + id;
                    $(this).attr("href", url)
                        .removeClass("disabled");

                } else if (action == "AddSeries" && allowsCoupons == "True") {
                    url = urlAddSeries + "/" + id;
                    $(this).attr("href", url)
                        .removeClass("disabled");

                } else if (action == "Enable") {
                    url = urlEnable + encodeURI("?id=" + id + "&enable=" + val);
                    modalAction.attr("href", url);
                }
            })
        })
    });
</script>