@using Microsoft.AspNetCore.Html;
@model WebApp.ViewModels.LifecycleUpdateViewModel;

@{
    ViewData["Title"] = "_UpdateFields";
    List<SelectListItem> statusList = new List<SelectListItem>();
    if (Model.DropCouponStatus != null)
    {
        statusList = Model.DropCouponStatus;
    }

    List<SelectListItem> enabledList = new List<SelectListItem>();
    if (Model.DropEnabled != null)
    {
        enabledList = Model.DropEnabled;
    }
}

<!-- form controls -->
    <div class="row">
        <div class="input-field col s2">
            @Html.EditorFor(p => p.Customer, new { htmlAttributes = new { @type = "text", placeholder = "-not selected-", @class = "white input-coupon" , @autocomplete = "off" } })
            @Html.LabelFor(p => p.Customer)
            @*<i class="material-icons validation-error suffix" data-position="bottom" data-tooltip="yo, škagre!">warning</i>*@
        </div>
        <div class="input-field date col s2">
            @Html.EditorFor(p => p.ValidTo, new { htmlAttributes = new { @class = "white calendar input-coupon", @type = "text", placeholder = "-not selected-", @autocomplete = "off" } })
            @Html.LabelFor(p => p.ValidTo, new { htmlAttributes = new { @class = "" } })
            @*<i class="material-icons validation-error suffix" data-position="bottom" data-tooltip="yo, škagre!">warning</i>*@
        </div>
        <div class="input-field col s2">
            @Html.DropDownListFor(p => p.SelectedCouponStatus, statusList, "-- option --", new { @class = "input-coupon select-coupon" })
            @Html.LabelFor(p => p.SelectedCouponStatus, new { @class = "active", @for = "SelectedCouponStatus" })
        </div>
        <div class="input-field col s2">
            @Html.LabelFor(p => p.SelectedEnabled, new { @class = "active", @for = "SelectedEnabled" })
            @Html.DropDownListFor(p => p.SelectedEnabled, enabledList, "-- option --", new { @class = "input-coupon select-coupon" })
        </div>
        <!-- action to call confirmation modal -->
        <div class="input-field col s4 u-p-r-remove">
            <button id="modal-trigger" type="button" class="waves-effect waves-light btn-flat btn-primary right modal-trigger" href="#modal-confirmation" disabled>
                <i class="material-icons left">update</i>
                @CouponDatabase.Properties.Resources.Btn_UpdateSelected
                <span id="coupon-number"></span>
            </button>
        </div>
        <!-- action to call confirmation modal -->
    </div>
<!-- /form controls -->
<!-- confirmation modal -->
<partial name="_CouponsModal" />
<!-- /confirmation modal -->