@model WebApp.ViewModels.LifecycleUpdateViewModel
@{
    ViewData["Title"] = "_UpdateFilter";

    List<SelectListItem> promotionCodes = new List<SelectListItem>();
    if (Model.DropPromoCodes != null)
    {
        promotionCodes = Model.DropPromoCodes;
    }

    List<SelectListItem> couponSeries = new List<SelectListItem>();
    if (Model.DropCouponSeries != null)
    {
        couponSeries = Model.DropCouponSeries;
    }

    bool disableCouponSeries = Model.SelectedPromoCode == null ? true : false;
}

<!-- Form submit on dropdown filter change -->
@using (Html.BeginForm("UpdateSearchFilter", "Lifecycle", FormMethod.Post, new { role = "form", id = "UpdateSearchFilter" }))
{
    <div class="col s2">
        @Html.DropDownListFor(p => p.SelectedPromoCode, promotionCodes, @CouponDatabase.Properties.Resources.DropDown_OptionNotSelectedText, new { @class = "filter-coupon", onchange = "this.form.submit();" })
    </div>

    <div class="col s2">
        @if (disableCouponSeries)
        {
            @Html.DropDownListFor(c => c.SelectedCouponSeries, couponSeries, @CouponDatabase.Properties.Resources.DropDown_OptionNotSelectedText, new { @class = "filter-coupon", onchange = "this.form.submit();", @disabled = "disabled" })
        }
        else
        {
            @Html.DropDownListFor(c => c.SelectedCouponSeries, couponSeries, @CouponDatabase.Properties.Resources.DropDown_OptionNotSelectedText, new { @class = "filter-coupon", onchange = "this.form.submit();" })
        }

    </div>
}