@model WebApp.ViewModels.LifecycleUpdateViewModel;

@{
    ViewData["Title"] = "_UpdateModal";
}

<!-- Modal -->
<div id="modal-confirmation" class="modal">
    <div class="modal-content">
        <h4>Change (<span id="coupon-number-modal"></span>) coupons?</h4>
        <dl class="inline">
            <dt class="info-customer hiddendiv">
                @string.Format(@CouponDatabase.Properties.Resources.CouponsModal_SetTo, Html.DisplayNameFor(m => m.Customer))
            </dt>
            <dd class="info-customer hiddendiv"></dd>
            <dt class="info-redeemto hiddendiv">
                @string.Format(@CouponDatabase.Properties.Resources.CouponsModal_SetTo, Html.DisplayNameFor(m => m.RedeemTo))
            </dt>
            <dd class="info-redeemto hiddendiv"></dd>
            <dt class="info-enabled hiddendiv">    
                @string.Format(@CouponDatabase.Properties.Resources.CouponsModal_SetTo, Html.DisplayNameFor(m => m.Enabled))
            </dt>
            <dd class="info-enabled hiddendiv"></dd>
            <dt class="info-status hiddendiv">
                @string.Format(@CouponDatabase.Properties.Resources.CouponsModal_SetTo, Html.DisplayNameFor(m => m.Status))
            </dt>
            <dd class="info-status hiddendiv"></dd>
        </dl>
    </div>
    <div class="modal-footer">
        <a id="modal-close" class="modal-close waves-effect waves-light btn-flat btn-transparent u-m-r-md">
            @CouponDatabase.Properties.Resources.Btn_Cancel
        </a>
        <button type="submit" class="waves-effect waves-light btn-flat btn-primary u-m-r-md" data-position="bottom">
            @CouponDatabase.Properties.Resources.Btn_Update
        </button>
    </div>
</div>
<!-- /Modal-->