@model WebApp.ViewModels.CouponFilters;

<div class="row">
    <div class="col s12">
        <h5 class="section u-m-t-remove">@CouponDatabase.Properties.Resources.LifecycleCouponFilter_Title</h5>
    </div>
</div>
<!-- Assignable From / To -->
<div class="row">
    <div class="input-field date col s6">
        @Html.EditorFor(f => f.AssignableFrom, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off", dataVal = true } })
        @Html.LabelFor(f => f.AssignableFrom, new { htmlAttributes = new { @class = "active" } })
        @Html.ValidationMessageFor(f => f.AssignableFrom)
        <i class='material-icons suffix validation-error'>warning</i>
        <i class='material-icons suffix date-icon'>event</i>
    </div>
    <div class="input-field date col s6">
        @Html.EditorFor(f => f.AssignableUntil, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off", dataVal = true } })
        @Html.LabelFor(f => f.AssignableUntil, new { htmlAttributes = new { @class = "active" } })
        @Html.ValidationMessageFor(f => f.AssignableUntil)
        <i class='material-icons suffix validation-error'>warning</i>
        <i class='material-icons suffix date-icon'>event</i>
    </div>
</div>

<!-- Redeemable From / To -->
<div class="row">
    <div class="input-field date col s6">
        @Html.EditorFor(f => f.RedeemableFrom, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off", dataVal = true } })
        @Html.LabelFor(f => f.RedeemableFrom, new { htmlAttributes = new { @class = "active" } })
        @Html.ValidationMessageFor(f => f.RedeemableFrom)
        <i class='material-icons suffix validation-error'>warning</i>
        <i class='material-icons suffix date-icon'>event</i>
    </div>
    <div class="input-field date col s6">
        @Html.EditorFor(f => f.RedeemableUntil, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off", dataVal = true } })
        @Html.LabelFor(f => f.RedeemableUntil, new { htmlAttributes = new { @class = "active" } })
        @Html.ValidationMessageFor(f => f.RedeemableUntil)
        <i class='material-icons suffix validation-error'>warning</i>
        <i class='material-icons suffix date-icon'>event</i>
    </div>
</div>

<div class="row">
    <!-- issuer channel checkboxes -->
    <div class="col s3">
        <p class="section-headline u-m-b-remove">@Html.DisplayNameFor(m => m.IssuerChannels)</p>
        @for (int i = 0; i < Model.IssuerChannels.Count; i++)
        {
            <p class="checkbox-hover">
                <label>
                    @Html.CheckBoxFor(c => c.IssuerChannels[i].Checked, new { @class = "filled-in" })
                    <span>@Html.DisplayFor(c => c.IssuerChannels[i].Label)</span>
                    @Html.HiddenFor(c => c.IssuerChannels[i].Id)
                    @Html.HiddenFor(c => c.IssuerChannels[i].Label)
                </label>
            </p>
        }
    </div>
    <!-- /issuer channel checkboxes -->
    <!-- award channel checkboxes -->
    <div class="col s3">
        <p class="section-headline u-m-b-remove">@Html.DisplayNameFor(m => m.AwardChannels)</p>
        @for (int i = 0; i < Model.AwardChannels.Count; i++)
        {
            <p class="checkbox-hover">
                <label>
                    @Html.CheckBoxFor(c => c.AwardChannels[i].Checked, new { @class = "filled-in" })
                    <span>@Html.DisplayFor(c => c.AwardChannels[i].Label)</span>
                    @Html.HiddenFor(c => c.AwardChannels[i].Id)
                    @Html.HiddenFor(c => c.AwardChannels[i].Label)
                </label>
            </p>
        }
    </div>
    <!-- /issuer channel checkboxes -->
    <!-- current status checkboxes -->
    <div class="col s3">
        <p class="section-headline u-m-b-remove">@Html.DisplayNameFor(m => m.CurrentStatus)</p>
        @for (int i = 0; i < Model.CurrentStatus.Count; i++)
        {
            <p class="checkbox-hover">
                <label>
                    @Html.CheckBoxFor(c => c.CurrentStatus[i].Checked, new { @class = "filled-in" })
                    <span>@Html.DisplayFor(c => c.CurrentStatus[i].Label)</span>
                    @Html.HiddenFor(c => c.CurrentStatus[i].Id)
                    @Html.HiddenFor(c => c.CurrentStatus[i].Label)
                </label>
            </p>
        }
    </div>
    <!-- /current status checkboxes -->
    <!-- active/inactive checkboxes -->
    <div class="col s3">
        <p class="section-headline u-m-b-remove">@CouponDatabase.Properties.Resources.Filter_ActiveInactive</p>
        <p>
            <label class="checkbox-hover checkbox-hover__inline u-m-r-md">
                @Html.CheckBoxFor(f => f.ShowActive, new { @class = "filled-in", @autocomplete = "off" })
                <span>@Html.DisplayNameFor(f => f.ShowActive)</span>
            </label>
            <label class="checkbox-hover checkbox-hover__inline">
                @Html.CheckBoxFor(f => f.ShowInactive, new { @class = "filled-in", @autocomplete = "off" })
                <span>@Html.DisplayNameFor(f => f.ShowInactive)</span>
            </label>
        </p>
    </div>
    <!-- / active/inactive checkboxes -->
</div>
