
@model WebApp.ViewModels.LifecycleSearchViewModel;
@{
    ViewData["Title"] = "CouponFilter";
}



<!-- header -->
<div class="container">
    <div class="row">
        <h4>
            @CouponDatabase.Properties.Resources.CouponFilter_Search
        </h4>
    </div>
</div>
<!-- /header -->

@using (Html.BeginForm("Search", "Lifecycle", FormMethod.Post, new { role = "form", id = "PromotionForm" }))
{
    <!-- form -->
    <div class="form-box">
        <div class="container">
            <!-- top form return msg -->
            <div class="@(ViewBag.CommandStatus == "[ERROR]" ? "form-box__msg form-box__msg-error" : "form-box__msg form-box__msg-success") @(ViewBag.CommandStatus == null ? "hiddendiv" : "")">@ViewBag.CommandStatus  @ViewBag.CommandMessage</div>

            <!-- promotion details filter -->
            <partial name="_SearchPromotionFilter" model="Model.PromotionFilter" />

            <!-- coupon details filter -->
            <partial name="_SearchCouponFilter" model="Model.CouponFilter" />

            <!-- actions -->
            <div class="row u-m-t-xl">
                <div class="col s12">
                    <button type="submit" class="waves-effect waves-light btn-flat btn-primary">
                        <i class="material-icons left">search</i>
                        @CouponDatabase.Properties.Resources.Btn_Search
                    </button>
                </div>
            </div>
            <!-- /actions -->
        </div>
    </div>
    <!-- /form -->
}