@model WebApp.ViewModels.LifecycleSearchViewModel;

<div class="row">
    <div class="col s12">
        <h5 class="section u-m-t-remove">Promotion Details Format</h5>
    </div>
</div>

<!-- promotion details -->
<div class="row">
    <div class="input-field date col s6">
        @Html.EditorFor(p => p.PromotionFilter.Code, new { htmlAttributes = new { @class = "validate", @type = "text", placeholder = "", @autocomplete = "off" } })
        @Html.LabelFor(p => p.PromotionFilter.Code, new { htmlAttributes = new { @class = "active" } })
        @*<i class="material-icons suffix validation-error" data-position="bottom" data-tooltip="yo, škagre!">warning</i>*@
    </div>
</div>
<div class="row">
    <div class="input-field date col s6">
        @Html.EditorFor(p => p.PromotionFilter.ValidFrom, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off" } })
        @Html.LabelFor(p => p.PromotionFilter.ValidFrom, new { htmlAttributes = new { @class = "active" } })
        <i class="material-icons suffix">event</i>
    </div>
    <div class="input-field date col s6">
        @Html.EditorFor(p => p.PromotionFilter.ValidFrom, new { htmlAttributes = new { @class = "calendar", @type = "text", placeholder = "", @autocomplete = "off" } })
        @Html.LabelFor(p => p.PromotionFilter.ValidFrom, new { htmlAttributes = new { @class = "active" } })
        <i class="material-icons suffix">event</i>
    </div>
</div>
<!-- /promotion details -->
<!-- properties -->
<div class="row">
    <div class="col s12">
        <p class="section-headline u-m-b-remove">@Html.DisplayNameFor(m => m.PromotionFilter.Properties)</p>
    </div>
    <div class="col s12 two-cols">
        @for (int i = 0; i < Model.PromotionFilter.Properties.Count; i++)
                    {
        <p class="checkbox-hover">
            <label>
                @Html.CheckBoxFor(c => c.PromotionFilter.Properties[i].Checked, new { @class = "filled-in" })
                <span>@Html.DisplayFor(c => c.PromotionFilter.Properties[i].Label)</span>
                @Html.HiddenFor(c => c.PromotionFilter.Properties[i].Id)
                @Html.HiddenFor(c => c.PromotionFilter.Properties[i].Label)
            </label>
        </p>
                    }
    </div>
</div>
<!-- /properties -->